In [1]:
import os

In [2]:
my_dict = dict()
my_dict

{}

In [3]:
my_dict = {}
my_dict

{}

In [4]:
my_dict = dict(one='name', two='age', three='education')
my_dict

{'one': 'name', 'two': 'age', 'three': 'education'}

In [9]:
my_dict = {'one':'name', 'two':'age', 'three':'education'}
my_dict

{'one': 'name', 'two': 'age', 'three': 'education'}

In [10]:
my_dict1 = {1:'one', 2:'two', 3:'three'}
my_dict1

{1: 'one', 2: 'two', 3: 'three'}

In [11]:
my_dict.update(my_dict1)
my_dict

{'one': 'name',
 'two': 'age',
 'three': 'education',
 1: 'one',
 2: 'two',
 3: 'three'}

In [13]:
my_dict.pop(2)
my_dict

{'one': 'name', 'two': 'age', 'three': 'education', 1: 'one', 3: 'three'}

In [15]:
my_dict.popitem()
my_dict

{'one': 'name', 'two': 'age', 'three': 'education'}

In [16]:
my_dict['three'] = 'location'
my_dict

{'one': 'name', 'two': 'age', 'three': 'location'}

In [17]:
my_dict['four'] = 'language'
my_dict

{'one': 'name', 'two': 'age', 'three': 'location', 'four': 'language'}

In [18]:
my_dict.keys()

dict_keys(['one', 'two', 'three', 'four'])

In [19]:
my_dict.values()

dict_values(['name', 'age', 'location', 'language'])

In [20]:
my_dict.items()

dict_items([('one', 'name'), ('two', 'age'), ('three', 'location'), ('four', 'language')])

In [23]:
my_dict2 = my_dict.fromkeys([1,2,3,4], 0)
my_dict2

{1: 0, 2: 0, 3: 0, 4: 0}

In [24]:
my_dict.get('three')

'location'

In [25]:
my_dict.setdefault('one')

'name'

In [27]:
my_dict.setdefault('nine', None)
my_dict

{'one': 'name',
 'two': 'age',
 'three': 'location',
 'four': 'language',
 'nine': None}

In [28]:
my_dict

{'one': 'name',
 'two': 'age',
 'three': 'location',
 'four': 'language',
 'nine': None}

In [29]:
for key in my_dict:
    print(key)

one
two
three
four
nine

In [30]:
def find_val(dict, target):
    for key in my_dict:
        if my_dict[key] == None:
            return key, my_dict[key]

find_val(my_dict, None)

('nine', None)

In [31]:
print('nine' in my_dict)

True

In [33]:
print('location' in my_dict)

False

In [34]:
print('location' in my_dict.values())

True

In [35]:
print('location' not in my_dict.values())

False

In [36]:
my_dict

{'one': 'name',
 'two': 'age',
 'three': 'location',
 'four': 'language',
 'nine': None}

In [37]:
sorted(my_dict)
my_dict

{'one': 'name',
 'two': 'age',
 'three': 'location',
 'four': 'language',
 'nine': None}

In [38]:
print(sorted(my_dict))

['four', 'nine', 'one', 'three', 'two']

In [41]:
list1 = [4,3,5,2,1]
list2 = sorted(list1)
list2

[1, 2, 3, 4, 5]

In [42]:
list1 = [4,3,5,2,1]
list1.sort()
list1

[1, 2, 3, 4, 5]

In [43]:
import random

city_names = ['paris', 'London', 'Canada', 'Australia', 'USA']

city_temps = {city:random.randint(20, 30) for city in city_names}
city_temps

{'paris': 25, 'London': 23, 'Canada': 27, 'Australia': 29, 'USA': 30}

In [44]:
cities = {city:temp for (city, temp) in city_temps.items() if temp>25}
cities

{'Canada': 27, 'Australia': 29, 'USA': 30}

In [45]:
ini = {
    1: 'one',
    2: 'two'
}

sec = {
    1:'one',
    2:'two',
    3:'three'
}

In [48]:
ini[3] = 'three'
second = ini
second

{1: 'one', 2: 'two', 3: 'three'}

In [51]:
cus_dict = {
    'one':1, 'two':2, 'three':3
}

In [52]:
cus_dict["four"] = [1,2,3,4,5,6]
cus_dict

{'one': 1, 'two': 2, 'three': 3, 'four': [1, 2, 3, 4, 5, 6]}

In [55]:
cus_dict = {
    'one':1, 'two':2, 'three':3
}

for key in cus_dict:
    cus_dict[key] += 2

cus_dict

{'one': 3, 'two': 4, 'three': 5}